*{box-sizing:border-box}

body{
    margin:0;
    font-family:Arial,Helvetica,sans-serif;
    background:#f2f6fb;
}


header{
    background:linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url("images/banner.jpg");
    background-size:cover;
    background-position:center;
    color:white;
    text-align:center;
    padding:70px 20px;
}


nav{
    background:#1e3799;
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    position:sticky;
    top:0;
    z-index:1000;
}

nav a{
    color:white;
    padding:14px 18px;
    text-decoration:none;
    font-weight:bold;
}

nav a:hover{
    background:#4a69bd;
}


.container{
    max-width:1100px;
    margin:auto;
    padding:20px;
}

.section{
    background:white;
    padding:20px;
    margin-bottom:20px;
    border-radius:10px;
}

.section h2{
    color:#1e3799;
    margin-top:0;
}


.post{
    background:#f8faff;
    border-left:5px solid #1e3799;
    padding:15px 20px;
    margin-bottom:15px;
    border-radius:6px;
}

.post h3{
    margin:0 0 6px;
    color:#1e3799;
}

.post p{
    margin:0;
    line-height:1.6;
}
.gallery img {
    width: 100%;
    height: 300px; 
    object-fit: cover;
    border-radius: 10px;
}




.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:15px;
}

.gallery img{
    width:100%;
    border-radius:8px;
    transition:.3s;
}

.gallery img:hover{
    transform:scale(1.05);
}

select{
    padding:10px;
    font-size:16px;
    border-radius:6px;
    margin-bottom:15px;
}

footer{
    background:#0a3d62;
    color:white;
    text-align:center;
    padding:15px;
}
